/* cyrillic-ext */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu72xKKTU1Kvnz.woff2) format('woff2');
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
	font-family: 'Narasi Sans Medium';
	font-style: normal;
	src: url('~assets/fonts/NarasiSans-Medium.otf');
}

@font-face {
	font-family: 'SF Pro Display Bold';
	font-style: normal;
	src: url('~assets/fonts/SF-Pro-Display-Bold.otf');
}

@font-face {
	font-family: 'SF Pro Display SemiBold';
	font-style: normal;
	src: url('~assets/fonts/SF-Pro-Display-SemiBold.otf');
}

@font-face {
	font-family: 'SF Pro Display Medium';
	font-style: normal;
	src: url('~assets/fonts/SF-Pro-Display-Medium.otf');
}

@font-face {
	font-family: 'SF Pro Display Regular';
	font-style: normal;
	src: url('~assets/fonts/SF-Pro-Display-Regular.otf');
}

@font-face {
	font-family: 'Altero Regular';
	font-style: normal;
	src: url('~assets/fonts/Altero-Regular.otf');
}

@font-face {
	font-family: 'Altero Outline';
	font-style: normal;
	src: url('~assets/fonts/Altero-Outline.otf');
}
